*{
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

header{
  background-color: rgb(172, 144, 64);
}

body{
  background-color: rgb(196, 215, 231);
}

nav{
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
}

a{
  font-weight: 400;
  font-size: 20px;
  color: black;
  transition: 400ms;
}

a:hover{
  color: rgb(169, 200, 227);
}